/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";

/*
background-color: rgba(90,134,182,1);
background: @include filter-gradient(#5a86b6, #004b88, vertical);
background: @include background-image(linear-gradient(top, rgba(90,134,182,1) 0%, rgba(0,98,155,1) 58%, rgba(0,75,136,1) 100%));
*/

// GENERAL
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.white-line {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 20px;
}

.button-white {
  background-color: white;
  color: rgb(62, 133, 189);
  font-weight: 700;
  font-size: 28px;
  border: 0 solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgb(80, 80, 80);
  margin-top: 75px;
  padding: 10px;
}

.titulo {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  h1 {
    @include background-image(linear-gradient(left, rgba(90, 134, 182, 1) 0%, rgba(0, 98, 155, 1) 58%, rgba(0, 75, 136, 1) 100%));
    font-size: 24px;
    color: white;
    padding: 20px 0 20px 20px;
    max-width: 985px;
    width: 100%;
    border-radius: 4px;

  }
}

.titulo-white {
  h1 {
    @include background-image(linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%));
    color: rgb(62, 133, 189) !important;

  }
}

::-webkit-input-placeholder {
  color: rgba(white, 0.6);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(white, 0.6);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(white, 0.6);
}

:-ms-input-placeholder {
  color: rgba(white, 0.6);
}

// HEADER

#header-mobile {
  display: flex;
  height: 50px;
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .header-separator {
    height: 40px;
    margin-top: 5px;
    width: 2px;
    margin-left: 40px;
    background-color: white;
  }

  .logo {
    flex: 5;
    padding: 5px;
    margin-right: 15px;
    text-align: right;
    //background-color: green;
  }
}

#header-desktop {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(250, 152, 25);
  width: 100%;
  background-color: white;
  z-index: 100;
  max-height: 35px;

  #header-desktop-left,
  #header-desktop-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (min-width: 1300px) {
      max-height: 10px;
      max-width: 650px;
    }
  }

  #header-desktop-left {
    justify-content: flex-start;
    margin-top: 50px;
    img{
      margin-top: 80px;
    }
    
    .logo-desktop{
      height: 150px;
      -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;

      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease;
    }
    .logo-desktop-reducido{
      -webkit-transform: scale(0.5, 0.5);
      -moz-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
      -o-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }
  #header-desktop-right {
    justify-content: flex-end;
    .desktop-link-login {
      margin: 5px 15px 5px 15px;
      a, span {
        margin: 5px;
      }
    }
  }

  .desktop-link-nav {
    margin: 5px 15px 5px 15px;
    a {
      color: #3e85bb;
      font-family: "Open Sans", sans-serif ;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;


    }
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid;
    color: rgb(0, 161, 82);
  }
}

.menu-type-desktop {
  @media (max-width: 799px) {
    visibility: collapse;
    display: none !important;
  }
}

.menu-type-mobile {
  @media (min-width: 800px) {
    visibility: collapse;
    display: none !important;
  }
}

.nav-button {
  flex: 1;

  margin-top: 15px;
  margin-left: 15px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  transform-origin: 13px 13px;
  transform-style: preserve-3D;

  div {
    cursor: pointer;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(62, 133, 187);
    margin: 4px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .nav-button-top-transformed {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-button-mid-transformed {
    -webkit-transform: translate(-3px, 0px);
    -moz-transform: translate(-3px, 0px);
    -ms-transform: translate(-3px, 0px);
    -o-transform: translate(-3px, 0px);
    transform: translate(-3px, 0px);
  }
  .nav-button-bot-transformed {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu-mobile-panel {
  width: 70%;
  color: white;
  background-color: #17384B;
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  //border: 5px solid white;

  .menu-desktop-btn {
    margin-top: 15px;
    font-family: 'Open Sans', serif;
    line-height: 18px;
    padding: 5px;
    font-variant: all-petite-caps;
  }

  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);

  @media (min-width: 800px) {
    visibility: collapse;
    display: none;
  }
}

.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

.menu-mobile-panel-show-remove {

  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}

@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}

// SLIDER
#slider {
  width: 100%;
  min-height: 500px;
  @include background-image(linear-gradient(top, rgba(90, 134, 182, 1) 0%, rgba(0, 98, 155, 1) 58%, rgba(0, 75, 136, 1) 100%));
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;

  position: relative;

  @media(min-width: 800px) {
    margin-top: 35px;
    justify-content: center;
  }

  img {
    margin-bottom: 50px;
    @media (min-width: 800px) {
      visibility: collapse;
      display: none;

    }
  }

  #slider-titulo {

    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bolder;
  }

  #slider-subtitulo {
    font-size: 28px;
  }

  #slider-button {

    margin-top: 25px !important;
  }
}

#productos-destacados {

  display: flex;
  flex-direction: column;
  align-items: center;

  #productos-destacados-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;

    @media(min-width: 1000px) {
      justify-content: space-between;

    }

    .producto-destacado {
      background-color: rgb(62, 133, 189);
      color: white;
      position: relative;
      height: 240px;
      width: 240px;
      margin: 10px 0 10px 0;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      span {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 150px;
        text-align: center;
      }
    }
  }

  #nuestros-productos-button {
    font-size: 16px !important;
    margin-top: 20px !important;
  }
}

// NUESTRA EMPRESA
#nuestra-empresa {

  p {
    font-size: 18px;
    font-weight: 400;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 10px 10px 10px 10px;
    @media(min-width: 1000px) {
      max-width: 1000px;
      margin-left: calc(50% - 500px);
      padding: 10px 0 10px 0;
      line-height: 22px;
      margin-top: 20px;

    }

  }
}

// CONTACTO

#contacto-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

  @media(min-width: 1000px) {
    align-items: flex-start;
  }
  .contacto-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;

    #contacto-enviar {
      margin-top: 0px !important;
      font-size: 18px !important;
    }

    input, textarea {
      background-color: rgb(62, 133, 189);
      width: calc(100% - 40px);
      border: 0px solid;
      margin: 10px;
      padding: 5px;
      -webkit-box-shadow: 2px 2px 6px rgb(150, 150, 150);
      -moz-box-shadow: 2px 2px 6px rgb(150, 150, 150);
      box-shadow: 2px 2px 6px rgb(150, 150, 150);
      color: white;

      @media(min-width: 1000px) {
        width: calc(100% - 10px);
      }
    }

    iframe {
      margin-top: 20px;
      width: calc(100% - 20px);
    }

    .contacto-datos {
      font-weight: 700;
      width: calc(100% - 20px);
      text-align: left;
      margin: 10px 10px 10px 10px;
      span:nth-child(1) {

      }

      span:nth-child(2) {
        color: rgb(62, 133, 189);
      }
    }

  }
}

// FOOTER
#footer {
  #footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #footer-links {
    @include background-image(linear-gradient(top, rgba(90, 134, 182, 1) 0%, rgba(0, 98, 155, 1) 58%, rgba(0, 75, 136, 1) 100%));
    color: white;
    text-align: center;
    font-size: 24px;

    div {
      margin: 15px 10px 15px 10px;
      min-width: 180px;
    }
  }

}

// NUESTRAS EMPRESAS
#nuestras-marcas {
  @include background-image(linear-gradient(left, rgba(90, 134, 182, 1) 0%, rgba(0, 98, 155, 1) 58%, rgba(0, 75, 136, 1) 100%));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px 0;
  #nuestras-marcas-list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    @media(min-width: 1000px) {
      justify-content: space-between;
      width: 1000px;
      .nuestra-marca:last-of-type {
        margin-right: 0px !important;
      }
      .nuestra-marca:first-of-type {
        margin-left: 0px !important;
      }
    }

    .nuestra-marca {
      width: 115px;
      height: 115px;
      margin: 5px;
      background-color: white;
    }
  }
}

// PRODUCTOS
#productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 800px) {

  }
  .productos-section {
    width: 100%;

    max-width: 1000px;
    @media (max-width: 1000px) {

    }

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: rgb(62, 133, 187);
      text-align: center;
      font-size: 36px;
      margin: 50px 0 50px 0px;
    }

    .productos-section-list {
      max-width: 1000px;
      min-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      .producto {
        margin-bottom: 10px;
        width: 320px;
        height: 320px;
        position: relative;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);

        .producto-main-img {
          position: absolute;
          top: 0;
          left: 0;

        }
        .producto-titulo {
          color: white;
          position: absolute;
          width: 95%;
          font-size: 30px;
          text-align: center;
          margin: 10px;


          -webkit-transform: translate(0, 120px);
          -moz-transform: translate(0, 120px);
          -ms-transform: translate(0, 120px);
          -o-transform: translate(0, 120px);
          transform: translate(0, 120px);
          text-shadow: 4px 2px 1px rgba(0, 0, 0, 1);
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;

        }
        .producto-recuadro {
          position: absolute;
          width: 95%;
          height: 95%;
          left: 2%;
          top: 2%;
          margin: 2px;
          border: 2px solid white;
          background-color: rgba(0, 75, 136,0.8);
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;



          opacity: 0;
          -webkit-transform: scale(0,0);
          -moz-transform: scale(0,0);
          -ms-transform: scale(0,0);
          -o-transform: scale(0,0);
          transform: scale(0,0);

          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }

        .producto-descripcion {
          color: white;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          top: 125px;

          opacity: 0;
          -webkit-transform: scale(0,0);
          -moz-transform: scale(0,0);
          -ms-transform: scale(0,0);
          -o-transform: scale(0,0);
          transform: scale(0,0);
          
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          span {
            width: 85%;
            font-size: 16px;
            text-align: center;
            text-shadow: 0 0 3px black;

          }
        }

        .producto-botonera {
          width: 100%;
          display: flex;
          position: absolute;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          top: 260px;
          .producto-icon-mail,
          .producto-icon-face {

            margin: 10px;
            background-color: #00a152;
            opacity: 0;
            -webkit-transform: scale(0,0);
            -moz-transform: scale(0,0);
            -ms-transform: scale(0,0);
            -o-transform: scale(0,0);
            transform: scale(0,0);

            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
          }
        }

      }

      .producto:hover {
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.97);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.97);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.97);
        .producto-titulo {

          -webkit-transform: translate(0, 50px) !important;
          -moz-transform: translate(0, 50px) !important;
          -ms-transform: translate(0, 50px) !important;
          -o-transform: translate(0, 50px) !important;
          transform: translate(0, 50px) !important;

        }

        .producto-descripcion,
        .producto-recuadro,
        .producto-icon-mail,
        .producto-icon-face
        {
          opacity: 1;

          -webkit-transform: scale(1,1);
          -moz-transform: scale(1,1);
          -ms-transform: scale(1,1);
          -o-transform: scale(1,1);
          transform: scale(1,1);
        }
      }
    }

    .producto-footer {
      @include background-image(linear-gradient(top, rgba(90, 134, 182, 1) 0%, rgba(0, 98, 155, 1) 58%, rgba(0, 75, 136, 1) 100%));
      color: white;
      font-weight: 200;
      font-size: 30px;
      line-height: 34px;
      min-height: 50px;
      width: 100%;
      margin-top: 25px;
      padding: 20px;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.34);
      border-radius: 4px;

    }
  }
}




    .producto-footer {
      @include background-image(linear-gradient(top, rgba(90, 134, 182, 1) 0%, rgba(0, 98, 155, 1) 58%, rgba(0, 75, 136, 1) 100%));
      color: white;
      font-weight: 200;
      font-size: 30px;
      line-height: 34px;
      min-height: 50px;
      width: 100%;
      margin-top: 25px;
      padding: 20px;

    }





