<div id="productos">

    <div class="productos-section">
        <h1 class="">Cepillos para la industria general:</h1>

        <div class="productos-section-list">
            <div class="producto">
                <img class="producto-main-img" src="images/producto1.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos Cilíndricos</div>

                <div class="producto-descripcion">
                <span>Los cepillos centrales están fabricados para adaptarse con precisión a su
                máquina, pues están balanceados para minimizar vibración y así
                garantizar un desgaste uniforme, reduciendo el esfuerzo en su máquina barredora.
                Las materias primas que utilizamos son de la más alta calidad para obtener una
                prolongada vida útil en el cepillo.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Cilíndricos'" class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

            <div class="producto">
                <img class="producto-main-img" src="images/producto2.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos Rotativos</div>


                <div class="producto-descripcion">
                    <span>Utilizados principalmente para maquinas lavadoras y lustradoras pueden ser fabricados tanto en base de madera como plástico en cualquier diámetro y tipo de fibra de acuerdo a su necesidad.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Rotativos'" class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>


            <div class="producto">
                <img class="producto-main-img" src="images/producto3.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos Cordoneros</div>


                <div class="producto-descripcion">
                    <span>Diseñados para maquinas barredoras tripuladas, pueden ser fabricados en varios materiales desde plástico hasta acero templado y la mezcla de ambos. Los mechones son cocidos a mano para evitar cualquier tipo de desprendimiento.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Planos'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>
            <div class="producto">
                <img class="producto-main-img" src="images/producto4.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos tipo varilla</div>


                <div class="producto-descripcion">
                    <span>Su versatilidad los hacen aptos para innumerables procesos industriales combinando distintos tipos de materiales de acuerdo a su necesidad. Los cepillos tira no necesitan motores, ni complejas instalaciones.  Un caso especializado del cepillo de tipo tira, es el Cepillos pasacables.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Varilla'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>
            <div class="producto">
                <img class="producto-main-img" src="images/producto5.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos Técnicos</div>


                <div class="producto-descripcion">
                    <span>Fabricamos todo tipo de cepillos técnicos a medida. Estos cepillos tienen aplicación en casi todos los sectores industriales.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Flexible'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>
            <div class="producto">
                <img class="producto-main-img" src="images/producto6.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos por Plano</div>


                <div class="producto-descripcion">
                    <span>Junto a nuestro departamento técnico ud puede diseñar su cepillo existo o no en el mercado.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos por Plano'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

        </div>



    </div>


    <div class="productos-section">
        <h1 class="">Cepillos para máquinas de limpieza y otros productos:</h1>

        <div class="productos-section-list">
            <div class="producto">
                <img class="producto-main-img" src="images/producto7.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Paños de limpieza 3M</div>


                <div class="producto-descripcion">
                    <span>Disponibles desde 13” hasta 24” y en todos los colores de acuerdo a su uso. Desde removedores de cera hasta lustradores. Poseemos Stock para entrega inmediata.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Cilíndricos - Tubulares'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

            <div class="producto">
                <img class="producto-main-img" src="images/producto8.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Filtros de aire tipo tolva</div>


                <div class="producto-descripcion">
                    <span>Utilizados principalmente en maquinas barredoras Tennant, Dulevo y Power Boss entre otras. Disponemos de amplio stock.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Rotativos de lustre'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>


            <div class="producto">
                <img class="producto-main-img" src="images/producto9.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos Rotativos de arrastre</div>


                <div class="producto-descripcion">
                    <span>Cepillos de arrastre o porta paños, estos cepillos son ampliamente ultizados en maquinas lavadoras y de prolongada vida útil.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Rotativos de arrastre'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>
            <div class="producto">
                <img class="producto-main-img" src="images/producto10.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos de lavado</div>


                <div class="producto-descripcion">
                    <span>Realizados en base de madera o plástico y con fibras de polipropileno, Tynex (dupont) o Nylon.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos de lavado'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>
            <div class="producto">
                <img class="producto-main-img" src="images/producto11.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Cepillos Barrenderos</div>


                <div class="producto-descripcion">
                    <span>Utilizado en el barrido de calles son un clásico de la limpieza. Municipios, empresas de recolección y de limpieza en gral los utilizan. Se venden solos o con cabo de madera roscada.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos Barrenderos'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>


            <div class="producto">
                <img class="producto-main-img" src="images/producto12.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Gomas Secadoras</div>


                <div class="producto-descripcion">
                    <span>Fabricados con la mejor materia prima, estos secadores son utilizados en todo tipo de maquina lavadora. Poseemos un amplísimo catalogo de modelos.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos tipo andén con rienda'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

            <div class="producto">
                <img class="producto-main-img" src="images/producto13.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Bridas y anclajes</div>


                <div class="producto-descripcion">
                    <span>Son las encargadas de transmitir la fuerza del motor al cepillos, disponemos de todos los anclajes conocidos en la industria de la limpieza. Realizados en plástico o aluminio de

acuerdo a la necesidad.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Cepillos para aspiradora'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>


        </div>

        <div class="producto-footer">
            Las Fibras son ancladas con resistentes grapas metálicas para garantizar la
            retención de mechones (las fibras no se desprenden prematuramente).
            Cualquier otra medida o modelo de cepillo se puede fabricar sobre pedido
            empleando todo tipo de fibras, como Acero S.A.E., acero inoxidable, Pita mexicana,
            piazaba africana, Tynex Dupont® (abrasivas), Nylon importado, Nylon nacional,
            Nylon Nitanil, P.V.C. o Palmira brasilera fabricados con base de madera o PVC.

        </div>
    </div>


    <div class="productos-section">
        <h1 class="">Máquinas de limpieza:</h1>

        <div class="productos-section-list">
            <div class="producto">
                <img class="producto-main-img" src="images/producto14.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Hombre caminando</div>


                <div class="producto-descripcion">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'De Hombre caminando'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

            <div class="producto">
                <img class="producto-main-img" src="images/producto15.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Hombre a bordo</div>


                <div class="producto-descripcion">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'De Hombre a bordo'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

        </div>
        <div class="producto-footer">
            Poseemos un amplio stock de maquinaria de limpieza tanto nuevas como
            refaccionadas en excelentes condiciones listas para su uso. Entre las mismas
            contamos con lavadoras a batería, eléctricas y hombre a bordo, maquinas
            lustradoras y limpia alfombras rotativas, hidrolavadoras, sopladoras e importantes
            máquinas barredoras hombre a bordo disponibles para su alquiler.

        </div>
    </div>


    <div class="productos-section">
        <h1 class="">Máquinas lavadoras:</h1>

        <div class="productos-section-list">
            <div class="producto">
                <img class="producto-main-img" src="images/producto16.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Barredoras</div>


                <div class="producto-descripcion">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'De Hombre caminando'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

            <div class="producto">
                <img class="producto-main-img" src="images/producto17.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo">Lavadoras</div>


                <div class="producto-descripcion">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'De Hombre a bordo'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>

        </div>


        <div class="producto-footer">
            Ofrecemos soluciones individualizadas aplicables a cualqier proceso industrial o de
            manufatura y desde una pieza hasta un número ilimitado. Su imaginación es el
            límite a nuestro amplio rango de productos.
            Economice con nosotros a través de nuestro servicio de renovación y reconstrucción
            de sus cepillos circulares, cilíndricos, manuales y en general
            cualquier tipo de cepillo desgastado.

        </div>
    </div>



    <div class="productos-section">
        <h1 class="">Productos 3M:</h1>

        <div class="productos-section-list">
            <div class="producto">
                <img class="producto-main-img" src="images/producto19.gif" alt="" width="100%" height="100%">

                <div class="producto-recuadro"></div>
                <div class="producto-titulo2">Paños de limpieza todos los colores y medidas,
                    Guantes, Cintas antideslizantes, Steel cleaner
                </div>


                <div class="producto-botonera">
                    <img nav-contacto ng-click="appCtrl.asunto = 'Paños de limpieza todos los colores y medidas, Guantes, Cintas antideslizantes, Steel cleaner'"  class="producto-icon-mail" src="images/mail.png" alt="" height="30" width="30">
                </div>
            </div>
        </div>
        <div class="producto-footer">
            Elegimos los materiales para los cepillos de acuerdo a su función, por ejemplo
            núcleos de plástico donde no existen altas temperaturas, así como de madera o de
            diferentes tipos de metal cuando se trabaja a temperaturas altas. Estos cepillos se
            ajustan también en su eje para instalación en cualquier tipo de máquina. Nos
            gustaría pedirle que nos contacte y envíe un dibujo de su cepillo para poder hablar
            de sus necesidades con nuestro asesor técnico.

        </div>

    </div>


</div>
